
body {
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
}


#ttt_message {
    font-size: 30px;
    font-weight: bold;
    color: #ff3300;
    background: #00FFFF;
    width: 60%;
    padding: 10px;
    margin: 0 auto 30px;
    border-radius: 10px;
}

#ttt_message.ttt-active,
#ttt_message.ttt_message-comp {
    background: #da4141;
    color: #000;
}

#ttt_message.ttt_message-play {
    background: #41da41;
}

#ttt_message.ttt_message-draw {
    background: #9900FF;
    color: #00ff00;
}


#ttt_board {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    background: #000;
}

.ttt_row {
    overflow: hidden;
    margin-bottom: 5%;
    margin-right: -1px;
}



#ttt_board button {
    -webkit-appearance: none;
    border-radius: 0;
    background: none;
    border: none;
    padding: 0;
    line-height: 1;
    float: left;
    text-decoration: none;
    width: 30%;
    height: 0;
    padding-top: 30%;
    background: #fff;
    margin-left: 5%;
    overflow: hidden;
    position: relative;
}

#ttt_board button:hover,
#ttt_board button:focus {
    background: #00cc99;
    outline: none;
}

#ttt_board button.ttt-active:hover,
#ttt_board button.ttt-active:focus {
    background: #efefef;
    cursor: default;
}

#ttt_board.ttt-active button:hover,
#ttt_board.ttt-active button:focus {
    background: #fff;
    cursor: default;
}

.ttt_status {
    position: absolute;
    top: 50%;
    height: 80px;
    margin-top: -40px;
    left: 0;
    width: 100%;
    font-size: 80px;
    color: transparent;
}

button.ttt-active .ttt_status {
    color: #000;
}

#ttt_board.ttt_winner-play button.ttt_winSqr,
#ttt_board.ttt_winner-play button.ttt_winSqr:hover,
#ttt_board.ttt_winner-play button.ttt_winSqr:focus {
    background: #75f975;
}

#ttt_board.ttt_winner-comp button.ttt_winSqr,
#ttt_board.ttt_winner-comp button.ttt_winSqr:hover,
#ttt_board.ttt_winner-comp button.ttt_winSqr:focus {
    background: #f57272;
}

#ttt_board.ttt_winner button:hover,
#ttt_board.ttt_winner button:focus {
    background: #fff;
    cursor: default;
}

#ttt_board.ttt_winner button.ttt-active .ttt_status {
    color: #f3f3f3;
}

#ttt_board.ttt_winner button.ttt_winSqr .ttt_status {
    color: #000;
}

#ttt_board button:first-child {
    margin: 0;
}


.ttt_reloadBtn {
    -webkit-appearance: none;
    border-radius: 10px;
    background: #6699ff;
    border: none;
    padding: 10px 20px;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}

.ttt_reloadBtn:hover,
.ttt_reloadBtn:focus {
    background: #0000ff;
}

